* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  margin: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto;
}

.box>div {
  display: flex;
  width: 15rem;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}